h5 {
  padding: 7px;
}

.avatari {
  height: 384px;
  width: 500px;
  border: 1px solid black;
}

.bio-body-container {
  display: flex;
  flex-direction: column;
  margin: 6px;
  padding: inherit;
  align-items: stretch;
  justify-content: center;
  min-width: 600px;
	max-width: 1080px;
	min-height: calc(690px * (90/150));
	height: 90vh;
	width: 150vh;
}

.bio-body {
  display: flex;
  flex-direction: row;
  padding: inherit;
  align-items: stretch;
  justify-content: center;
}

.bio-body-title {
  display: flex;
  flex-direction: row;
}

.bio-body-left {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  padding: 6px;
  width: 50%;
  height: auto;
}

.bio-body-right {
  margin: auto;
  padding: 6px;
  border: 1px solid black;
  background-color: GhostWhite;
  width: 50%;
  height: auto;
}

.contact-body {
  display: flex;
  flex-direction: column;
}
