@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

body {
  font-family: "Lucida Console", Monaco, monospace;
  color: GhostWhite;
  overflow-y: scroll;
  height: auto;
  /* background-image: url("../images/crumple.jpg"); */
  background-color: #303030;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bio-body-right {
  color: #303030;
}

a {
  color: GhostWhite;
}

a:hover {
  color: black;
}

img {
	max-width: 100%;
	height: auto;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.container {
	width: 1350px;
	max-width: 90%;
  margin-left: 15px;
}

.bio-body-container {
  display: flex;
  flex-direction: column;
  margin: 6px;
  align-items: stretch;
}

.main-body {
  padding-bottom: 80px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

@media only screen and (min-width: 10px) and (max-width: 640px){

  .desktop-version {
    display: none;
  }

  .screenshots {
    width: 80%
    height: auto;
    border: 1px solid black;
  }

  .avatari {
    width: 80%
    height: auto;
    border: 1px solid black;
  }

  .bio-body {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding: inherit;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
  }

  .bio-body-left {
    align-items: center;
    justify-content: center;
    margin-right: 12x;
    padding: 6px;
    width: 98%;
    font-size: .5em;
  }

  .bio-body-right {
    margin-left: 12px;
    padding: 9px;
    border: 1px solid black;
    background-color: #1697a6;
    width: 98%;
    font-size: .6em;
  }

  .bio-body-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: .8em;
  }

  .contact-body {
    display: flex;
    flex-direction: column;
    font-size: 1em;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {

  .mobile-version {
    display: none;
  }

  .two-columns {
    display: flex;
    flex-direction: column;
  }

  .screenshots {
    width: 80%
    height: auto;
    border: 1px solid black;
  }

  .avatari {
    height: 315px;
    width: 420px;
    border: 1px solid black;
  }

  .bio-body {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding: inherit;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7em;
  }

  .bio-body-left {
    align-items: center;
    justify-content: center;
    margin-right: 12x;
    padding: 6px;
    width: 98%;
    font-size: .65em;
  }

  .bio-body-right {
    margin-left: 12px;
    padding: 9px;
    border: 1px solid black;
    background-color: #1697a6;
    width: 98%;
    font-size: .65em;
  }

  .bio-body-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 35px;
    font-size: 2em;
  }

  .contact-body {
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 1025px){

  .mobile-version {
    display: none;
  }

  .two-columns {
    display: flex;
    flex-direction: column;
  }

  .screenshots {
    width: 80%
    height: auto;
    border: 1px solid black;
  }

  .avatari {
    height: 315px;
    width: 420px;
    border: 1px solid black;
  }

  .bio-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .bio-body-left {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-right: 15px;
    width: 40%;
    height: auto;
    font-size: .7em;
  }

  .bio-body-right {
    padding: 9px;
    border: 1px solid black;
    background-color: #1697a6;
    width: 60%;
    height: auto;
    font-size: .85em;
  }

  .bio-body-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 35px;
    font-size: 1.51em;
  }

  .contact-body {
    display: flex;
    flex-direction: column;
    font-size: 1.7em;
  }
}

.link-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.work-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.work-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 5px;
  padding: 10px;
  font-size: 1.2em;
  background-color: #1697a6;
  color: #303030;
}
