body {
  font-family: "Lucida Console", Monaco, monospace;
  color: #37474F;
}

.avatari {
  height: 384px;
  width: 500px;
  border: 1px solid black;
}

.bio-body-container {
  display: flex;
  flex-direction: column;
  margin: 6px;
  padding: inherit;
  align-items: stretch;
  justify-content: center;
  min-width: 600px;
	max-width: 1080px;
	min-height: calc(690px * (90/150));
	height: 90vh;
	width: 150vh;
}

.bio-body {
  display: flex;
  flex-direction: row;
  padding: inherit;
  align-items: center;
  justify-content: center;
}

.bio-body-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bio-body-left {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  padding: 6px;
  width: 50%;
  height: auto;
}

.bio-body-right {
  margin: auto;
  padding: 9px;
  border: 1px solid black;
  background-color: GhostWhite;
  width: 50%;
  height: auto;
}

.contact-body {
  display: flex;
  flex-direction: column;
}

.work-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.2em;
  font-family: "Lucida Console", Monaco, monospace;
}
